<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <import resource="spring-security.xml"/>

    <context:annotation-config />

    <!--Этот элемент используется для включения безопасности на основе аннотаций в вашем приложении (путем установки
    соответствующих атрибутов в элементе), а также для группировки деклараций point point point,
    которые будут применяться во всем контексте приложения-->
    <security:global-method-security secured-annotations="enabled" pre-post-annotations="enabled"/>

    <bean class="com.shop.of.accounting.web.json.JacksonObjectMapper" id="objectMapper" factory-method="getMapper"/>

    <!--Перехватчик обработчика должен реализовать интерфейс HandlerInterceptor-->
    <mvc:interceptors>
        <bean class="com.shop.of.accounting.web.interceptor.ModelInterceptor"/>
    </mvc:interceptors>

    <mvc:interceptors>
        <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang"/>
        </bean>
    </mvc:interceptors>

    <!--Локаль по умолчанию-->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="ru"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
          p:cacheSeconds="5"
          p:defaultEncoding="UTF-8">
        <!--казывается путь к app. and app_ru-->
        <property name="basenames" value="file:///#{systemEnvironment['ACCOUNTING_OF_SHOP']}/config/messages/app"/>
        <property name="fallbackToSystemLocale" value="false"/>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper" ref="objectMapper"/>
            </bean>
            <!--Добавляем converter для того что бы джейсон отображал руские текст-->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean" id="conversionService">
        <property name="formatters">
            <set>
                <bean class="com.shop.of.accounting.web.converter.DateTimeFormatters.LocalTimeFormatter"/>
                <bean class="com.shop.of.accounting.web.converter.DateTimeFormatters.LocalDateFormatter"/>
            </set>
        </property>
    </bean>

    <import resource="spring_web_app.xml"/>
    <import resource="spring_web_db.xml"/>

    <context:component-scan base-package="com.shop.of.accounting.**.web"/>


    <!--  all resources inside folder src/main/webapp/resources are mapped so they can be referred to inside JSP files -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!-- uses WebJars so Javascript and CSS libs can be declared as Maven dependencies (Bootstrap, jQuery...) -->
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"/>

</beans>